.photocontainer
{
    display: inline-flex;
    width: 8em;
    height: 6em;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    content:" ";
    background-size:cover;
    margin-top: 0em;
    margin-right: 0em;
    transition-property: width, height,margin-top,margin-right;
    
    transition-duration: 0.3s;
}
.photocontainer:hover
{
    
    width: 9em;
    height: 7em;
    margin-top: -1em;
    margin-right: -1em;
    
    
}
#paneleft
{
    display: inline-flex;
    width: 49%;
    height: 90%;

}
#paneright
{
    display: inline-flex;
    width: 49%;
    height: 90%;
    content:" "
}
