body
{
    background-color:#191919;
    font-family: 'Inconsolata', monospace;
    padding:0em;
    margin: 0em;
    height: 100%;
    width: 100%;
    
}
.heart
{
    color:#e51a4c;
    animation-delay: 3s;
    animation-name: heartanimated;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    letter-spacing: 0em;
    display: flexbox;
 
}
@keyframes heartanimated
{
    0% {color: #e51a4c;}
    90% {color: white;}
    100% {color: #e51a4c;}
}
#content
{
    padding-top: 9.5em;
}
.title
{
    text-align: center;
    font-size: 2em;
    border-bottom: #666666 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    color:white;
    letter-spacing: 1em;
    background-color: #e51a4c;
    position: fixed;
    display: inline-block;
    width: 100%;
    animation-name:tituloanimado;
    animation-duration: 3s;
    height:1em;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap: break-word;
    
    
}
@keyframes tituloanimado
{
    0% {width:0%; color:#e51a4c}
    
    50% {width:100%;color:#e51a4c}

    100%{color:white }
    
    

}
.menuoption
{
    display: inline-flex;
    padding: 0.5em;
    border: 1px #00ff7f;
    border-top: none;
    border-left: none;
    border-radius: 0.3em;
    margin: 0.5em;
    cursor: pointer;
    transition-property: padding;
    transition-duration: 0.5s;
    color:#EEEEEE;
    font-weight: bolder;
}
.menuoption:hover
{
    padding-left: 1.4em;
    color:#333333;
    background-color: #EEEEEE;
}
.menu {
	background-color: rgb(196, 139, 165);
	height: 0.1em;
	padding-top: 0.1em;
	position: fixed;
	width: 100%;
	display: inline-block;
	margin-top: 6em;
}


@media (orientation: landscape) {
    .menuoption {
      font-size: 1em;
    }
    
    .menu
    {
        margin-bottom: 5em;
    }
  }
  
  @media (orientation: portrait) {
    .menuoption {
      font-size: 3em;
      
    }
    .menu
    {
        margin-bottom: 15em;
    }
    #content
    {
        padding-top: 16em;
    }
  }